click
cycler
Flask
fonttools
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
seaborn
six
threadpoolctl
tqdm
typing_extensions
Werkzeug
zipp
